body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3 {
    color: #ffffff;
    font-size: 36px;
  }
  h1, h2 {
    text-align: center;
  }
  h3 {
    text-align: left;
  }
  
  p, label, tr, input {
    color: #ffffff;
    font-size: 18px;
  }
  
  tr, th {
    font-size: 36px;
    text-align: left;
    margin-top: 25px;
  }
  
  th {
    color: #ffffff;
  }
  
  input {
    color: #4929be;
  }
  
  .table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    border-radius: 10px 10px 0 0;
  }
  
  .table td {
    border-top: none;
    border-radius: 0 0 10px 10px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #cccccc;
  }