/* styles.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
  
}

h1 {
  color: #007bff;
}

h2,
h3,
h4 {
  color: #248eff;
}


table {
  border-radius: 15px;
  border-collapse: collapse;
  width: 60%;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(85, 85, 85);
  margin-left: auto;
  margin-right: auto;
}

thead {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

tr {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 20px;
  background-color: #e0e0e063;
  color: #353535;
}

th, td {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #2b2b2b1e;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #007bff;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/**/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.frame {
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  height: 300px; /* Ajustez la hauteur du cadre selon vos besoins */
}

.search-box {
  margin-bottom: 10px;
}

.app-name {
  float: left;
  width: 50%; /* Ajustez la largeur selon vos besoins */
}

.app-version {
  float: left;
  width: 50%; /* Ajustez la largeur selon vos besoins */
  display: none; /* Initialement invisible */
}
/**/

#menu {
  width: 200px;
  height: 100%;
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#menu a {
  padding: 15px 10px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

#menu a:hover {
  color: #f1f1f1;
}

#content {
  margin-left: 200px;
  padding: 20px;
}

.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  padding-left: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#search-bar {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

#search-bar form {
  display: inline-block;
}

#search-bar input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}

#search-bar button {
  padding: 5px;
}

#content {
  margin-top: 50px; /* Pour laisser de l'espace pour la barre de recherche */
}

#overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50;
  left: 50;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#error-message {
  position: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  padding: 20px;
  z-index: 2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#content form {
  max-width: 600px;
  margin: 20px auto;
}

#content form label {
  display: block;
  margin-bottom: 8px;
}

#content form input,
#content form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

#content form button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

#content form button:hover {
  background-color: #2980b9;
}
