<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bienvenue sur CyberPulse</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Bienvenue sur CyberPulse</h1>
            <p>Votre outil de scan réseau simple et efficace.</p>
            <a href="{{ url_for('scan') }}" class="btn">Commencer un scan</a>
        </div>
    </body>
</html>
